.app__main__contact__item {
  border-radius: 1.25rem;
  background-color: #080808;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
}

.app__main__contact__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.app__main__contact__item:hover {
  border-radius: 1.25rem;
  padding-left: 3rem;
}

.app__main__contact__item:hover .icon--email {
  fill: #ce493b;
}

.app__main__contact__item:hover .icon--whatsapp {
  fill: #42be50;
}

.app__main__contact__item:hover .icon--linkedin {
  fill: #0a66c2;
}

.app__main__contact__item:hover .icon--github {
  fill: #db4128;
}

.app__main__contact__item__icon {
  font-size: 2rem;
  transition: all 1s ease;
}
