.app__title {
  font-size: 6rem;
  line-height: 7.625rem;
  max-width: 55vw;
}

@media screen and (max-width: 1350px) {
  .app__title {
    font-size: 4rem;
    line-height: 5.625rem;
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .app__title {
    font-size: 3.75rem;
    line-height: 5.125rem;
    max-width: 100%;
  }
}
