.app__title--size-small {
  font-size: 2rem;
  line-height: 2.563rem;
  font-weight: 400;
  background-color: transparent;
}

.app__title--size-small--margin-bigger {
  font-size: 2rem;
  line-height: 2.563rem;
  font-weight: 400;
  background-color: transparent;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1350px) {
  .app__title--size-small {
    font-size: 1.5rem;
  }

  .app__title--size-small--margin-bigger {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .app__title--size-small {
    font-size: 1.25rem;
  }

  .app__title--size-small--margin-bigger {
    font-size: 1.25rem;
  }
}
