.app__main__experience__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 12px;

  width: 55%;
}

@media screen and (max-width: 1350px) {
  .app__main__experience__wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .app__main__experience__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -1rem;
    width: 100%;
    height: 40vh;
    flex-wrap: nowrap;
    gap: 0;
  }
}
