.app__title {
  font-size: 6rem;
  line-height: 7.625rem;
}

.app__title--size-medium {
  font-size: 4rem;
  line-height: 5.125rem;
  font-weight: 400;
}

.app__title--size-small {
  font-size: 2rem;
  line-height: 2.563rem;
  font-weight: 400;
}

.app__paragraph {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 400;
}
