.app__main__skills__wrapper {
  background-color: var(--color-dark-grey);
  max-width: 50vw;
  margin-top: 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  filter: grayscale();
  transition: all 0.8s ease-in-out;
}

.app__main__skills__wrapper:hover {
  filter: none;
}

.app__main__skills__wrapper > * {
  border-radius: 0.5rem;
  font-size: 3rem;
  margin: 1rem;
  margin-left: 2rem;
}

.app__main__skills__wrapper > *:nth-child(1) {
  fill: #f75421;
}

.app__main__skills__wrapper > *:nth-child(2) {
  fill: #2f74c0;
}

.app__main__skills__wrapper > *:nth-child(3) {
  fill: #efd81d;
}

.app__main__skills__wrapper > *:nth-child(4) {
  fill: #254bdd;
}

.app__main__skills__wrapper > *:nth-child(5) {
  fill: #59d2f3;
}

.app__main__skills__wrapper > *:nth-child(6) {
  background: linear-gradient(
    0deg,
    rgba(194, 35, 116, 1) 0%,
    rgba(255, 187, 68, 1) 100%
  );
}

.app__main__skills__wrapper > *:nth-child(7) {
  fill: #7248b6;
}

.app__main__skills__wrapper > *:nth-child(8) {
  fill: #86be00;
}

.app__main__skills__wrapper > *:nth-child(9) {
  fill: #bc1224;
}

.app__main__skills__wrapper > *:nth-child(10) {
  fill: #e94e31;
}

.app__main__skills__wrapper > *:nth-child(11) {
  fill: #007bf7;
}

.app__main__skills__wrapper > *:nth-child(12) {
  fill: #2580f7;
}

.app__main__skills__wrapper > *:nth-child(13) {
  fill: #e26f00;
}

.app__main__skills__wrapper > *:nth-child(15) {
  fill: #38bdf8;
}

.app__main__skills__wrapper > *:nth-child(16) {
  fill: #1c60e6;
}

.app__main__skills__wrapper > *:nth-child(17) {
  fill: #c66394;
}

.app__main__skills__wrapper > *:nth-child(19) {
  fill: #f73f51;
}

.app__main__skills__wrapper > *:nth-child(20) {
  background: linear-gradient(
    90deg,
    rgba(194, 35, 116, 1) 0%,
    rgba(255, 187, 68, 1) 100%
  );
}

@media screen and (max-width: 1350px) {
  .app__main__skills__wrapper {
    max-width: 75%;
  }
  .app__main__skills__wrapper > * {
    margin: 1rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .app__main__skills__wrapper {
    max-width: 100%;
  }
  .app__main__skills__wrapper > * {
    margin: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
  }
}
